<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../timer.css" rel="stylesheet"> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"> -->
    <link href="../images/favicon.ico" rel="icon" type="image/x-icon" />
    <title>Document</title>
</head>
<body>

    <div class="header">
        <span class="logout"><a href="/users/logout">Logout</a></span>
        <span class="username">Hello <%= user %></span>
    </div>

     <!-- Manually send time to database -->
     <div style="padding-bottom: 25px; padding-top: 30px; font-size: 50px;">
        <span>Scramble: </span><span id="scramble"></span>
    </div>

    <!-- Visualiser of the cube -->
    <canvas id="2dCube" width="500" height ="400"></canvas>

    <!-- Button not working -->
    <button id="gen-scramble" style="margin: 15px; padding: 5px;">Generate a new scramble</button>

    <script src="../visualiser.js"></script>

    <div id=timerHolder style="padding: 50px; font-size: 400px; font-family: LCD; "><span id="timerWhole">0</span><span >.</span><span id="timerDecimal" style="font-size:0.75em;">00</span></div>

    <div style="display: flex;">
        <span class="chart-container" style="position: relative; height:40vh; width:50vw; flex: 1;">
            <canvas id="myChart"></canvas>
        </span>  
        <span>
            <canvas id="2dCube" width="500" height ="400" style="margin-top: 100px; margin-left: 30px; float:right;"></canvas>
        </span>

        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <!-- Load graphs -->
    <script src="../graphs.js"></script>

    <script src="../timer.js"></script> <!--must be bottom script so it can call from the others -->
    <script>
        generateNewScramble();  //generate initial scramble of session on page load
    </script>

</body>
</html>