<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../timer.css" rel="stylesheet"> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"> -->
    <link href="../images/favicon.ico" rel="icon" type="image/x-icon" />
    <title>Dashboard</title>
</head>
<body>
    <div id="container">

        <a href="/users/logout">Logout</a>
        <h4 style="text-transform: capitalize;">Hello <%= user %></h4>

        <!-- Manually send time to database -->
        <div style="padding-bottom: 25px; padding-top: 30px; font-size: 50px;">
            <span>Scramble: </span><span id="scramble"></span>
        </div>
        <!-- <div>
            <label for="time">This time:</label>
            <input id="time" type="number">
        </div>
        <button id="send" style="margin: 15px; padding: 5px;">Send time to database</button> -->

        <!-- <script src="timer.js"></script> -->


        <!-- Visualiser of the cube -->
        <!-- <canvas id="2dCube" width="500" height ="400"></canvas> -->

        <!-- <button id="gen-scramble" style="margin: 15px; padding: 5px;">Generate a new scramble</button> -->

        <script src="../visualiser.js"></script>
        <!-- Starting state of the page (Just a dummy time and scramble) -->
        <!-- <script>
            let blankScramble = initialState();

            let scrambleTest = "R2 U R L' U2 D' F' U2 B2 L2 B2 R2 D' F2 D2 L2 U' B2 L2 B U";
            let scrambleArray = scrambleTest.split(" ");
            let randoTest = blankScramble;
            for(move of scrambleArray){
                randoTest = scrambleStep(move,randoTest);
            }

            drawCubeState(randoTest);
        </script> -->

        <!-- <button id="get-times" style="margin: 15px; padding: 5px;">Get Times</button> -->
        <div style="font-size:larger" >
            <span>Average of 12: </span><span id="AO12"></span>
        </div>
        <div style="display: flex; font-size:larger;">
            <table width="180px">
                <thead>
                    <tr><th>Solve</th><th>Time</th></tr>
                </thead>
                <tbody id="resultsTable"></tbody>
            </table>
            <div id=timerHolder style="padding: 50px; font-size: 400px; font-family: LCD; width: 600px;"><span id="timerWhole">0</span><span >.</span><span id="timerDecimal" style="font-size:0.75em;">00</span></div>
            <span>
                <canvas id="2dCube" width="500" height ="400" style="margin-top: 100px; margin-left: 30px; float:right;"></canvas>
            </span>

        </div>
        <span class="chart-container" style="position: static; height:40vh; width:50vw; flex: 1;">
            <canvas id="myChart"></canvas>
        </span>   

        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <!-- Load graphs -->
        <script src="../graphs.js"></script>

        <script src="../timer.js"></script>

    </div>
</body>
</html>
